@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.clr{
    clear: both;
}
h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 10px;
    color: #FF3484;
}
h2 {
    font-size: 30px;
    font-weight: 500;
}
p {
    font-size: 16px;
    color: rgb(124, 124, 121);
    text-align: justify;
}
a {
    text-decoration: none;
    display: inline-block;
    background: #FF3484;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
}
img{
    width: 100%;
}

/* *********************************************************
                    INTRODUCTION SECTION START
********************************************************* */
#introduction{
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-part{
    width: 30%;
    float: left;
    margin-left: 11%;
    padding-left: 2%;
    margin-top: 220px;
}
/* *********************************************************
                    INTRODUCTION SECTION END
********************************************************* */
/* *********************************************************
                    BIOGRAPHY SECTION START
********************************************************* */
#biography{
    background-image: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    padding-bottom: 60px;
}
.bio-part{
    width: 30%;
    float: left;
    margin-left: 11%;
    padding-left: 2%;
    margin-top: 220px;
}
/* *********************************************************
                    BIOGRAPHY SECTION END
********************************************************* */
/* *********************************************************
                    LATEST WORK SECTION START
********************************************************* */
#latest-work {
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: right;
    padding: 60px 0;
}
#latest-work h2{
    text-align: center;
    margin-bottom: 30px;
}
.work-part {
    width: 26%;
    float: left;
    margin-left: 2%;
}
.work-part.work-margin {
    margin-left: 9%;
}
/* *********************************************************
                    LATEST WORK SECTION END
********************************************************* */
/* *********************************************************
                    CLIENT SECTION START
********************************************************* */
#client-section{
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#client-section, #client-section p {
    text-align: center;
}
#client-section h3 {
    font-size: 20px;
    font-weight: 500;
}
#client-section h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(124, 124, 121);
    line-height: 10px;
}
#client-section, #client-section p {
    text-align: center;
    padding: 20px 240px;
    color: rgb(68, 67, 67);
}
.msg {
    background: #FF3484;
    padding: 25px 0px;
    /* width: 120%; */
    margin: 50px 102px;
    border-radius: 15px;
    color: white;
}
#client-section .msg p{
    color: white;
}
/* *********************************************************
                    CLIENT SECTION END
********************************************************* */
/* *********************************************************
                    FOOTER SECTION START
********************************************************* */
footer p{
    text-align: center;
}
/* *********************************************************
                    FOOTER SECTION END
********************************************************* */
